.App {
  text-align: center;
}

.body {
  margin-left: 10px;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

nav {
  height: 55px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.logo {
  float: left;
  max-height: 60px;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.hero-grid {
  align-self: center;
  max-width: 60%;
  padding-bottom: 2rem;
}

.hero > p,
h1 {
  max-width: 60%;
  text-align: left;
  font-size: 1.3rem;
  font-family: monospace;
}

.cards {
  display: flex;
}

.card {
  width: 200px;
  position: relative;
  /* background-color: aqua; */
}

.card-badge {
  position: absolute;
  background-color: white;
  opacity: 85%;
  left: 12px;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px;
}

.card-image {
  border-radius: 10px;
}

.card-text {
  font-size: 0.9rem;
}

.card-text > p {
  color: #222;
}
